@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
  font-family: "Poor Story", cursive;
  line-height: 1.6;
  color: #010531;
  background-color: #f5faf4;
}

h1 {
    text-align: center;
    color: #050133;
    font-size: 40px;
    padding: 20px;
    border: 2px solid #136be8;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #0d2594;
    text-align: center;
}

a {
    color: #a9bb25;
    text-decoration: underline;
}

a:hover {
    color: #3b3939;
    text-decoration: none;
}

.container {
    align-items: center;
    border: 1px solid #fb0019;
    margin: 20px;
    padding: 20px;
}

.trip-card {
    border: 1px solid #fb0019;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

table {
    width: 60%;                    
    border-collapse: collapse;     
    margin: auto; 
}

th, td {
    border: 1px solid #3cc830;      
    padding: 12px;                  
    text-align: center;             
}

.meal {
    background-color: #f4fc8a;     
    font-weight: bold;      
    color: #dd3cbf;        
}
fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #333;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    font-size: 10px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #0ce91f;
    color: white;
}

input[type="submit"]:hover {
    background-color: #01b419;
}

input[type="reset"] {
    background-color: #eeeeee;
    color: #333;
}

input[type="reset"]:hover {
    background-color: #dddddd;
}